#MainPage::before {
    content: "";
    
    position: absolute;
    top: 0;
    right: 0;
    width: 50%; /* Covers half of the screen */
    height: 100%;
    background-image: url("mush.jpeg");
    background-size: cover;
    opacity: 0.6; /* Adjust opacity as needed */
    background-image:
    linear-gradient(to right, rgba(255, 249, 249, 0.52), rgba(0, 0, 0, 0.73)), url("mush.jpeg");
    z-index: -1;
  }
  