* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  position: relative;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

#MainPage {
  height: 100%; /* Full viewport height */
  width: 100%;
  position: relative;
  overflow: hidden;
  /* background: linear-gradient(to right, rgba(0,0,0,0.7), transparent), url('mush.jpeg') no-repeat; */
  background-size: cover;
}

#About {
  height: 100vh; /* Full viewport height */
  position: relative;
}

.hero {
  width: 100%; /* Full width */
  height: 600px;
  background: url('Screenshot.png') no-repeat center center;
  background-size: cover;
  position: relative;
  border: 10px solid #fff;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.second-box {
  width: 400px;
  height: 400px;
  background-color: #307581;
  color: white;
  position: absolute;
  top: calc(50% + 100px);
  left: calc(50% - 800px); /* Adjusted value to move the box more to the left */
  margin-left: -5%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #fff;
  border-radius: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-content h1 {
  font-size: 4em;
}

.overlay {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.overlay h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.appointment-btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.content {
  width: 80%;
  margin-top: 30%;
  margin: 50px auto;
  padding: 20px;
  text-align: right;
  z-index: 2;
}

.background-half {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: url('mush.jpeg');
  background-size: cover;
  z-index: 0;
  opacity: 0.5; /* Adjust opacity as needed */
}

.adventure-text {
  position: absolute;
      bottom: 20px;
      left: 10%;
      transform: translateX(-50%);
      z-index: 2;
      color: white; /* Adjust text color as needed */
      text-align: center;
  }

  .additional-text {
    
    position: absolute;
    top: 40%;
    left: 69%; /* Align it to the right of the screen */
    transform: translateY(-50%);
    max-width: 30%; /* Ensure the text doesn't exceed 40% of the viewport width */
    padding: 20px; /* Add padding */
    z-index: 1;
    text-align: right; /* Align text to the right */
    color: black;
    word-wrap: break-word;
    font-size:40px ;
  }