* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
}

body {
  width: 100%;
  position: relative;
  background: #f3f3f3;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  z-index: 1000;
}

.navbar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar-nav {
  list-style-type: none;
  display: flex;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.hero {
  width: 800px;
  height: 480px;
  background: url('Screenshot.png') no-repeat center center;
  background-size: cover;
  position: fixed;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  border: 10px solid #fff;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.second-box {
  width: 300px;
  height: 300px;
  background-color: #307581;
  color: white;
  position: fixed;
  top: calc(50% + 240px); /* Position below the first box */
  left: calc(30% + 400px); /* Position to the right of the first box */
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid #fff;
  border-radius: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text-content h1 {
  font-size: 2em;
}

.overlay {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.overlay h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.appointment-btn {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 5px;
}

.content {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  text-align: center;
  z-index: 2;
}
